# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.env
venv/

# Django
*/migrations/
!*/migrations/__init__.py

# Media
media/
uploads/

# Static
staticfiles/
static/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
